# -----------------------------------------------
# ----  General  --------------------------------
# ----  https://editorconfig.org  ---------------
# -----------------------------------------------

root = true

[*]
end_of_line          = lf
insert_final_newline = true
charset              = utf-8
indent_style         = space
indent_size          = 2

# -------------------------------------------------
# ----  Rust  -------------------------------------
# -------------------------------------------------

[*.{rs,S,asm,ld}]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

# -------------------------------------------------
# ----  YAML and JSON  ----------------------------
# -------------------------------------------------

[*.{yml,yaml,json,jsonc}]
indent_style = space
indent_size = 2

# -------------------------------------------------
# ----  Shell / Bash  -----------------------------
# -------------------------------------------------

[*.{sh,bash}]
indent_size        = 2
shell_variant      = bash
binary_next_line   = true
switch_case_indent = true
space_redirects    = false
keep_padding       = false
function_next_line = true
