[package]
name = "bootloader"
version = "0.2.0-alpha-003"
authors = ["Philipp Oppermann <dev@phil-opp.com>"]
license = "MIT/Apache-2.0"
description = "An experimental pure-Rust x86 bootloader."

[dependencies]
xmas-elf = "0.6.2"
x86_64 = "0.2.0-alpha"
usize_conversions = "0.2.0"
os_bootinfo = "0.2.0-alpha"
fixedvec = "0.2.3"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = false
debug = true
