cargo-features = ["publish-lockfile"]

[package]
name = "bootloader"
version = "0.3.7"
authors = ["Philipp Oppermann <dev@phil-opp.com>"]
license = "MIT/Apache-2.0"
description = "An experimental pure-Rust x86 bootloader."
repository = "https://github.com/rust-osdev/bootloader"
publish-lockfile = true

[dependencies]
xmas-elf = "0.6.2"
x86_64 = "0.2.7"
usize_conversions = "0.2.0"
fixedvec = "0.2.3"

[dependencies.font8x8]
version = "0.2.4"
default-features = false
features = ["unicode"]

[features]
default = []
vga_320x200 = []

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = false
debug = true
